:root{
    --Background-color: #1e293b;
    --Background-dark: #0f172a;
    --Red: #ea443b;
    --Green: #16c371;
    --Text-color: #9da5ab;
}
html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
::placeholder { 
    color: var(--Text-color);
    
}
.button{
    border: none;
}
body{

}
.container{
    margin: 0 auto;
    width: 908px;
    height: 100%;
    background-color: var(--Background-color);
    color: var(--Text-color);
    border-radius: 20px;
    
}
.haha{
    padding: 120px 140px ;
}


 

.menu-vu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* todolist */

.hihi{
    font-size: 30px;
    font-weight: bold;
}
.hihi_icon{

}
.hihi_tittle{
    margin-left: 16px;
}

.vu{
    position: relative;
    display: flex;
}
.vu a{
    color: var(--Text-color);
    text-decoration: none;
}
.vu a:visited{
    color: var(--Text-color);
}
.vu_item{
    font-size: 29px;
    padding: 14px 20px;
    align-items: center;
    justify-content: center;
    
}
.vu-item-content{
    
}

.vu_item.vu_item--active{
    background-color: var(--Background-dark);
    border-radius: 12px;
}
/*  BODY------------------------------- */
.body{
    margin-top: 63px;
}
/* Add task */
.add-task{
    display: flex;
}
.add-task_blank{
    flex: 1;
    font-size: 19px;
    color: var(--Text-color);
    border: none;
    border-bottom: 4px solid var(--Background-dark);
    background-color: transparent;
}
.add-task_button{
    font-size: 24px;
    border: none;
    border-radius: 12px;
    background-color: var(--Background-dark);
    color: var(--Text-color);
    width: 154px;
    height: 62px;
    margin-left: 10px;
    cursor: pointer;
}
/* Task */
.task{
    margin-top: 40px;
}
.task_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    width: 100%;
    height: 62px;
    background-color: var(--Background-dark);
    border-radius:-0 12px 12px  0;
    border-left: 5px solid var(--Red) ;
    margin-bottom: 22px;
}
.task_item a{
    color: var(--Text-color);
    text-decoration: none;
}
.task_item a:visited{
    color: var(--Text-color);
}
.task_item-infor{
    margin-left: 14px;
}
.task_item-icon{
    
}
.item-icon{
    font-size: 22px;
    margin: 10px;
}
.trash{
    color: var(--Red);
}
.edit{
    color: var(--Green);
}